version: '3'

services:
  api:
    build: .
    image: api
    restart: always
    ports:
      - 4100:4000
    environment:
      ENABLE_AUTORELOAD: 'False'
      DB_DSN: 'mariadb+pymysql://user:password@db/db'

  db:
    image: mysql
    restart: always
    environment:
      MYSQL_DATABASE: 'db'
      MYSQL_USER: 'user'
      MYSQL_PASSWORD: 'password'
      MYSQL_ROOT_PASSWORD: 'password'
    ports:
      - 3306:3306
    expose:
      - 3306
    volumes:
      - /opt/api/mysql:/var/lib/mysql
